<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="124633307597-s1ii2fartnupr8qut8j3burgr0a6ufpu.apps.googleusercontent.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href='https://fonts.googleapis.com/css?family=Julius Sans One' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    {% load static %}
    <div class="container-fluid h-100 d-flex align-items-center">
        
      <div class="row d-flex justify-content-center ">
        <div class="col-5">
          <div class="row justify-content-center">
            <img src="{% static 'knightsImage.png' %}" class="img-fluid  ">
          </div>
          <div class="row justify-content-center">
              <a href="{% url 'social:begin' 'google-oauth2' %}" class="col-8 badge badge-primary">Login with Google</a><br>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>

